$primary-color: rgb(57, 56, 55);
$secondary-color: rgb(220, 220, 220);
$button-color: #f2f2f2;
$button-hover-color: #ddd;
$warning-color: rgb(255, 132, 0);

main {
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 24px;
} 

.calculator {
  padding: 30px;
	background-color: $primary-color;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 320px;
}

.display {
  height: 60px;
  padding: 16px;
  background-color: $secondary-color;
  color: black;
  text-align: right;
	font-size: 32px;
}

.buttons {

	display: grid;
	gap: 12px;
	

	&--big {
		grid-template-columns: repeat(3, 1fr);
	}

	&--small {
		grid-template-columns: repeat(2, 1fr);
	}

  button {
    background-color: $button-color;
    color: $primary-color;
	border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
		transition: background-color 0.7s;

    &:hover {
      background-color: $button-hover-color;
	  color: $warning-color;
    }
  }

  .button--c {
	color: $secondary-color;
	background-color: $warning-color;
  }

}
